@model Finanse_aspnet_mvc.Models.Operations.OperationBase

<div class="modal-body">
    Czy na pewno chcesz usunąć <span><b>@Model.TitleOrCategoryName</b></span> ?
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <input class="btn btn-danger" type="submit" value="Usuń" />
    </div>
}