@{
    ViewBag.Title = "Operacje";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@Html.ActionLink("+", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-lg btn-primary" })

<div id="operationsList">
</div>

<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>

<div id="error" style="display:none">
    <h4>Wystąpił błąd podczas ładowania</h4>
    <button id="tryAgainBtn" class="btn btn-default">Spróbuj ponownie</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/scripts/operationsInfiniteScrolling.js")
}