@using Finanse_aspnet_mvc.Models
@model Finanse_aspnet_mvc.Models.Categories.Category
<li>
    <div>
        @Html.DisplayFor(modelItem => Model.Name)
        @if (!Model.CantDelete) {
            using (Html.BeginForm("Delete", "Categories", new {id = Model.Id})) {
                var myModal = "myModal" + Model.Id;

                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new {id = Model.Id})</li>
                        <li data-toggle="modal" data-target="#@myModal"><a>Delete</a></li>
                    </ul>
                </div>

                @Html.Partial("_DeleteModal", new ModalProperties {Id = myModal, ItemName = Model.Name})
            }
        }
        <ol>
            @foreach (var subCategory in Model.SubCategories) {
                @Html.Partial("_SubCategory", subCategory)
            }
        </ol>
    </div>
</li>