@model Finanse_aspnet_mvc.Models.Categories.Category
<li>
    <div>
        @Html.DisplayFor(modelItem => Model.Name)
        @if (!Model.CantDelete) {
            using (Html.BeginForm("Delete", "Categories", new { id = Model.Id })) {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                <input class="btn btn-default" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete @Model.Name ?');" />
            }
        }
        <ol>
            @foreach (var subcategory in Model.SubCategories) {
                @Html.Partial("_SubCategory", subcategory)
            }
        </ol>
    </div>
</li>