@using Finanse_aspnet_mvc.Models.Categories
@model Finanse_aspnet_mvc.Models.Categories.CategoryBase

<div class="modal-body">
    <p>Czy na pewno chcesz usunąć <b>@Model.Name</b> ?</p>
    @if (Model is Category) {
        <p>Zostaną usunięte wszystkie podkategorie.</p>
    }
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Anuluj</button>
        <input class="btn btn-danger" type="submit" value="Usuń" />
    </div>
}