@using Finanse_aspnet_mvc.Models.Categories
@model CategoryBase

<div class="pop-up-body">
    <p>Czy na pewno chcesz usunąć <strong>@Model.Name</strong> ?</p>
    @if (Model is Category) {
        <p>Zostaną usunięte wszystkie podkategorie.</p>
    }
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="pop-up-footer">
        <div class="button-block">
            <button class="pop-up-button" data-dismiss="modal">Anuluj</button>
            <input class="pop-up-button pop-up-button-danger" type="submit" value="Usuń" />
        </div>
    </div>
}