@model IEnumerable<Finanse_aspnet_mvc.Models.Categories.Category>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-default"})
</p>

<ol>
    @foreach (var item in Model) {
        @Html.Partial("_Category", item)
    }
</ol>