@import "colors";
@import "_mixins.scss";
@import "statics.scss";

button,
.animate-button {
    transition: transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
}

.btn-circle {
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    @include uniform-size(30px);
}

.btn-circle.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    @include uniform-size(50px);
}

.btn-circle.btn-xl {
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    @include uniform-size(70px);
}


.button-add {
    position: fixed;
    bottom: 16px;
    left: auto;
    right: auto;
    margin: auto;
}

.button-more {
    color: $text-color;
    background-color: transparent;
    @include uniform-size(24px);

    border: {
        radius: 4px;
        width: 0;
    }

    &:hover {
        background-color: $body-background-lighten-2;
    }

    &:focus {
        background-color: $body-background-lighten-2;
        outline: 0;
    }
}

.btn {
}

.button-round {
    color: $accent-color;
    background: transparent;
    padding: 6px 16px;

    border: {
        radius: 4px;
        width: 1px;
        style: solid;
        color: $accent-color;
    }

    &:hover {
        background: $accent-color;
        color: $body-background;
    }

    &:focus {
        outline: 0;
    }
}

.outline-button {
    display: inline-block;
    color: $accent-color;
    background-color: transparent;
    font-size: 0.6875em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em;
    margin: 0 4px;
    text-align: center;
    line-height: 0.6875em;
    text-decoration: none !important;

    min: {
        @include uniform-size(32px);
    }

    border: {
        radius: 5px;
        width: 1.5px;
        style: solid;
        color: $accent-color;
    }

    &.outline-button-lg {
        font-size: 0.8125em;
        padding: 1em 2em;
        line-height: 1em;
    }

    &:enabled {
        &:hover {
            background-color: $accent-color;
            color: $body-background;
        }

        &:active {
            background-color: $accent-color-lighter-2;
            border-color: $accent-color-lighter-2;
        }
    }

    &:disabled {
        border-color: $foreground-25;
        color: $foreground-25;
    }

    &:focus {
        outline: 0;
    }

    &.square {
        padding: 0;
        @include uniform-size(32px);
    }

    &.outline-button-inverted {
        color: $body-background;
        background-color: $accent-color;

        &:enabled {
            &:hover {
                background-color: transparent;
                border-color: $accent-color;
                color: $accent-color;
            }

            &:active {
                background-color: transparent;
                border-color: $accent-color-lighter-2;
                color: $accent-color-lighter-2;
            }
        }

        &:disabled {
            background-color: $foreground-25;
            border: none;
            color: $body-background;
        }
    }
}

.filter-button {
    margin:0;
}

/* Bottom line button */

.bottomline-button {
    color: $foreground-40;
    padding: 0;
    outline: 0;

    input[type=radio] {
        position: absolute;
        visibility: hidden;
    }

    label {
        margin: 0;
        display: flex;
        height: 100%;
        padding: 0;
        align-items: center;
        font-size: 0.8125em;
        font-weight: 400;
        min-height: 32px;
        cursor: pointer;

        border: {
            color: transparent;
            width: 0 0 2px 0;
            style: solid;
        }
    }

    &:hover label {
        color: $foreground-50;
    }

    input[type=radio]:checked ~ label {
        border-color: $accent-color;
        color: $accent-color;
    }
}

.bottomline-button-group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    div + div {
        margin-left: 24px;
    }
}

/* End of bottom line button */



.expand-button {
    background-color: transparent;
    padding: 0;
    outline: 0;
    border: none;
    color: $foreground-25;
    @include uniform-size(16px);

    &:hover {
        color: $foreground-50;
    }

    &:active {
        i {
            transform: rotate(90deg);
        }
    }
}

.button-lg {
    text-transform: uppercase;
    padding: 12px 24px;

    font: {
        size: 11px;
        weight: normal;
        family: Montserrat;
    }
}

#planned-operations-button {
    margin: {
        left: 20px;
        right: 0;
    }
}

.upper-bar-button {
    margin: 0;
    background: transparent;
    height: 100%;
    width: auto;
    min-width: $upper-bar-height;
    border: none;
    @include accentHover;

    padding: {
        left: 16px;
        right: 16px;
    }

    &:focus {
        outline: 0;
    }

    i {
        vertical-align: central;
        font-size: 16px;
        color: white;

        text: {
            align: center;
            indent: 0px;
        }
    }

    p {
        font-size: 0.75em;
        font-weight: 600;
        margin: 0;
    }
}

#button-hamburger {
    @include uniform-size($upper-bar-height);
}