@import "colors.scss";

@mixin uniform-size($size) {
    width: $size;
    height: $size;
}

@mixin accentHover {
    &:hover {
        background-color: $accent-color;
    }

    &:active {
        background-color: $accent-color-lighter-1;
    }
}
