@import "_mixins.scss";

.operation,
.category {
    max-width: 640px;
    //  min-height: 68px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:hover {
        background: $body-background-lighten-1;
        border-radius: 5px;
    }
}

.operation{
    cursor:pointer;
}

.operation-icon,
.category-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    @include uniform-size(48px);

    border: {
        radius: 50%;
        style: solid;
        width: 2px;
        color: $body-background-lighten-1;
    }
}

.category-icon.icon-small {
    min-width: 36px;
    @include uniform-size(36px);
    margin: 0 6px;
}

.category-icon.icon-small > .fa {
    font-size: 0.75em;
}

$width: 48px;
$dot-size: 12px;
.dot {
    @include uniform-size($dot-size);
    margin: 0 ($width - $dot-size) / 2;

    border: {
        radius: 50%;
        style: solid;
        width: 2px;
        color: $body-background-lighten-1;
    }
}

.operation-text,
.category-text {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    flex: 1;

    p {
        font-size: 0.8125em;
        color: $foreground-100;
        //  background-color: blue;
         font-weight: 400;
        margin: 0;
        line-height: 0.8125em;
    }
}

.operation-text {
    small {
        color: $foreground-25;
        // background-color: red;
        font-weight: 600;
        font-size: 0.6875em;
        margin: 0;
        padding: 0;
        line-height: 15px;
        /*strong {
            font-weight: 600;
        }*/
    }

    i {
        //  background-color: green;
        margin: 0;
    }

    div {
        margin: 0;
        // background-color: yellow;
        padding: 0;
    }
}

.operation-angle.fa {
    font-size: .5em;
    margin: 0 4px;
    color: $foreground-25;
}

.operation-cost {
    margin-right:8px;
    font: {
        size: 0.8125em;
        weight: 600;
    }
}

.red-text {
    color: $red-color;
}

.green-text {
    color: $green-color;
}

.color-circle {
    @include uniform-size(32px);

    border: {
        radius: 50%;
    }
}

.operation-header {
    max-width: 640px;
    margin-top: 16px;
    padding: 12px 16px;
    display: flex;
    color: $foreground-50;
    font-size: 0.6875em;
    font-weight: 500;

    &:hover {
        background: $body-background-lighten-1;
        border-radius: 5px;
    }
}

.operation-header-dayNum {
    width: 48px;
    margin-right: 16px;
    text-align: center;
}

.fa-arrow-left.income {
    transform: rotate(135deg);
    color: $green-color;
}

.fa-arrow-left.expense {
    transform: rotate(-45deg);
    color: $red-color;
}