@import "colors.scss";

.pop-up {
    font-family: inherit;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding: 48px 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
    //background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pop-up-content {
    margin: auto;
    position: relative;
    background-color: rgba($body-background, 1);
    margin: auto;
    padding: 24px;
    border: none;
    border-radius: 5px;
    max-width: 400px;
    //width: 80%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: 100px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: 100px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pop-up-header {
    margin-bottom: 16px;
    color: $foreground-50;

    h4 {
        display: inline;
    }
}

.pop-up-body {
    padding: 12px 0 24px 0;

    p {
        color: $foreground-50;
        line-height: 1.25em;
    }

    strong {
        font-weight: 600;
        color: $foreground-75;
    }
}

.pop-up-footer {
    border-top: 1px;
    border-color: rgba($foreground-100, 0.1);
    border-style: solid;
    padding-top: 24px;
    color: white;
    text-align: right;

    .button-block {
        > * {
            margin: 0;
        }

        * + * {
            margin-left: 16px;
        }
    }
}

.pop-up-button {
    padding: 0;
    background: none;
    border: none;
    color: $foreground-50;
    font-size: 0.875em;
    line-height: 1.5em;
    outline: none;
    transition: color 0.2s;

    &:hover {
        color: $foreground-75;
    }

    &:active {
        color: $foreground-100;
    }
}

.pop-up-button-primary {
    font-weight: 600;
    color: $accent-color;

    &:hover {
        color: $accent-color-lighter-1;
    }

    &:active {
        color: $accent-color-lighter-2;
    }
}

.pop-up-button-danger {
    font-weight: 600;
    color: $red-color;

    &:hover {
        color: $red-color-lighter-1;
    }

    &:active {
        color: $red-color-lighter-2;
    }
}

.form-wrapper {
    > div + div {
        margin-top: 16px;
    }
}

.close-button {
    float: right;
    background: none;
    border: none;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    outline: none;
    color: $foreground-50;
    transition: color 0.2s;

    &:hover {
        color: $foreground-75;
    }
}