@import "colors";
@import "_mixins.scss";
@import "statics.scss";

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    top: 0;
    padding-top: $upper-bar-height;
    width: $sidebar-compactWidth;
    height: 100%;
    background: $sidebar-background;
    display: flex;
    flex-direction: column;

    overflow: {
        y: auto;
        x: hidden;
    }

    footer {
        margin-top: auto;
        align-self: center;
        text-align: center;
        margin-bottom: 16px;

        p {
            margin: 0;
            opacity: 0.25;
        }
    }
}


#sidebar-logo,
#upper-bar {
    height: $upper-bar-height;
}

#upper-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-logo {
    border: 0;
    display: block;
    //   text-indent: -9999px;
    background-color: $accent-color;
    min-height: $upper-bar-height;
    width: 80px;
    @include accentHover;

    background: {
        repeat: no-repeat;
        position: center;
    }
}

.sidebar-logo-wide {
    background-image: url(logo_wide.png);
}

.sidebar-logo-thin {
    background-image: url(logo_thin.png);
}


.sidebar-nav {
    padding: 0;
    margin-top: 16px;
    list-style: none;

    li {
        text-indent: 16px;
        line-height: 48px;
        white-space: nowrap;

        a {
            display: block;
            text-decoration: none;
            padding: 0;
            margin: 0;

            &:hover,
            &.active {
                i {
                    color: $accent-color;
                    opacity: 1;
                }

                span {
                    opacity: 0.75;
                }
            }

            &:hover {
                background: $sidebar-background-lighter-1;

                border: {
                    width: 0 0 0 4px;
                    style: solid;
                    color: $accent-color;
                }
            }

            &.active span {
                opacity: 0.75;
            }


            &:active {
                background: $sidebar-background-lighter-2;
            }

            i {
                width: 48px;
                font-size: 1em;
                color: white;
                opacity: 0.25;

                text: {
                    align: center;
                    indent: 0px;
                }
            }

            span {
                display: none;
                color: white;
                opacity: 0.5;
                text-indent: 0px;
                font-size: 0.8125em;
                margin: 0; //16px - 4px; // NIE WIEM CZEMU ROBI TAM SIE WCZESNIEJ 20PX ZAMIAST 16PX
            }
        }
    }
}


#upper-bar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $accent-color-darker-1;
}

.user-avatar {
    width: 42px;
    height: 42px;
    margin: 11px auto;
    padding: 0;
    background-image: url(user1600.png);
    background-color: white;
    background-size: 42px 42px;
    border-radius: 50%;
}

.user-avatar-wrapper {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0;
    padding: 0;
    //background: red;
    border: none;
}