@import "colors";
@import "_mixins.scss";
@import "statics.scss";

@import "about.scss";
@import "login_style.scss";

@import "_operation-category.scss";
@import "_buttons.scss";
@import "_checkbox.scss";
@import "_search.scss";

@import "shared-layout.scss";
@import "modal.scss";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.body {
    padding-top: $upper-bar-height;
    padding-bottom: 20px;
    background: $body-background-darken-1;
    color: $foreground-100;
}

hr {
    border-color: $body-background-lighten-1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: {
        left: 15px;
        right: 15px;
    }
}

.login-partial-fix {
    margin-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.actualMonth {
    text-transform: capitalize;
}

.operations-list-loading,
.operations-list-message {
    text-align: center;

    p {
        margin-top: 16px;
        color: $foreground-75;
    }
}

.operations-list-message {
    margin: {
        top: 64px !important;
        bottom: 64px !important;
    }

    span {
        font-size: 3em;
        color: $foreground-75;
    }
}

.segoe-mdl2-icon {
    font-family: 'Segoe MDL2 Assets';
}

.hide-span {
    span {
        display: none;
    }
}



/* Main content */
#page-content-wrapper {
    margin-left: $sidebar-compactWidth;
}



/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: $sidebar-expandWIdth;
}

#wrapper.menuDisplayed #sidebar-logo {
    min-width: $sidebar-expandWIdth;
}

#wrapper.menuDisplayed #page-content-wrapper {
    margin-left: $sidebar-expandWIdth;
}

#wrapper.menuDisplayed #sidebar-wrapper {
    span {
        display: inline-block;
    }
}

.page-content-new {
    max-width: (640 * 2) + (16px * 2);
    margin-top: 32px;

    margin: {
        left: auto;
        right: auto;
    }
}

#nav-month-wrapper, .page-top {
    display: flex;
}

.page-top {
    padding: 0 8px;
    flex-direction: row;
    align-items: center;
    min-height: 42px;
}

#nav-month {
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    > p {
        margin-right: auto;
    }
}

#nav-month-buttons {
    display: flex;
    flex-wrap: wrap;
}

.month-bar {

    * {
        margin: 0;
    }

    p {
        font-size: 1.125em;
        line-height: 1.125em;
        color: $accent-color;
        text-transform: capitalize;
    }

    small {
        opacity: .5;
        font-size: 0.75em;
        line-height: 0.75em;
    }
}

#nav-month,
#blank-space {
    margin: {
       // left: 8px;
        right: 8px;
    }
}

#operations-page-content, .multi-cards-container {
    display: flex;
    align-items: flex-start;
    margin-top: 32px - 8px;
}

#nav-month,
#blank-space,
#operations-list-card,
#more-infos-cards {
    flex: 1;
}

#operations-list {
    padding: 0;
}

.page-card, .page-card-container {
    width: 100%;
    max-width: 640px;
}

.page-card-container {
    margin: 8px;
    display: flex;
    flex-direction: column;

    > * + * {
        margin-top: 16px !important;
    }
}

.page-title {
    padding: 0;
    margin: 0 10px 0 0;
    color: $accent-color;
    font-weight: 400;
    font-size: 1.125em;
}

.page-card {
    background-color: $body-background;
    border-radius: 5px;
    margin: 8px;

    > div {
        margin: 16px;

        padding: {
            left: 16px;
            right: 16px;
        }

        &:last-child {
            margin-bottom: 24px;
        }
    }

    > .header {
        min-height: 32px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > p {
            margin: 0;
            color: $foreground-40;
            font-size: 0.875em
        }
    }

    > .content {
        > * + * {
            margin-top: 24px;
        }

        .list {
            margin: {
                left: -16px;
                right: -16px;
            }
        }
    }

    &.inner-page-card {
        margin: 0;
    }
}

.flex-right {
    margin-left: auto;
}

@media all and (max-width: 960px) {
    #operations-page-content, .multi-cards-container {
        flex-direction: column;
        align-items: inherit;
        > * {
            align-self: center;
        }
    }

    #more-infos-cards {
        order: 1;
    }

    #operations-list-card {
        order: 2;
    }

    #blank-space {
        display: none;
    }
}

@media all and (max-width: 640px) {
    #wrapper:not(.menuDisplayed) #sidebar-wrapper {
        left: -80px;
    }

    #sidebar-logo {
        display: none;
    }

    #page-content-wrapper {
        margin-left: 0 !important;
    }
}

.dropdown-grid-color {
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

._select_color {
    font-size: 20px;
    padding: 10px 12px;
    font-weight: 300;
    line-height: 48px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    width: 100%;
    height: auto;
    box-shadow: none;
    text-align: left;
    background-image: none;
    color: #796652;
    background: white;
}

._select_color_drop {
    margin: 0;
    padding: 24px;
    min-width: 64px;
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    top: 99%;
    border: 0;
    //max-width: 280px;
    background-color: $sidebar-background-lighter-1;
    text-align: center;
    font-size: 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    border-radius: 10px;

    > li {
        font-size: 16px;
    }
}

._select_color_drop > li {
    display: inline-block;
    //padding: 7px;
    //border-right: 1px solid rgba(192, 192, 192, 0.55);
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin: 6px;
    // float: left;
    &.selected span.dropdown-grid-color {
        border-width: 2px;
        border-color: white;
    }

    span.dropdown-grid-color {
        border-color: $sidebar-background-lighter-1;
        border-style: solid;
        transition: border-width 0.2s;

        &:hover {
            border-width: 2px;
        }
    }

    &.selected.dropdown-grid-icon {
        background-color: $sidebar-background-lighter-2;
    }

    &.dropdown-grid-icon {
        transition: background-color 0.2s;
        border-radius: 50%;

        &:hover {
            background-color: $sidebar-background-lighter-2;
        }

        i {
            font-size: 1.25em;
            padding-top: (48px - 1.25 * 16px) / 2;
        }
    }
}

._select_color_drop > li > .color, .btn > span.color {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
}

.btn > span.color {
    margin-right: 10px
}

.btn .caret {
    float: right;
    border-top: 7px solid;
    font-size: 28px;
    padding-top: 5px;
    vertical-align: middle;
    position: absolute;
    right: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 20px;
}