@import "colors";

@mixin uniform-size($size) {
    width: $size;
    height: $size;
}

@mixin accentHover {
    &:hover {
        background: $accent-color-lighter-1;
    }

    &:active {
        background: $accent-color-lighter-2;
    }
}

body {
    //padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: $body-background;
    color: $text-color;
}

hr {
    border-color: $body-background-lighten-1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.animateBtn {
    transition: transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
}

.actualMonth {
    text-transform: capitalize;
}

.btn-circle {
    @include uniform-size(30px);
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    @include uniform-size(50px);
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    @include uniform-size(70px);
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.addNew-button {
    position: fixed;
    bottom: 16px;
    vertical-align: top;
}

$sidebar-compactWidth: 80px;
$sidebar-expandWIdth: 199px;

/* Side bar */
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: $sidebar-compactWidth;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: $sidebar-background;

    footer {
        p {
            opacity: 0.25;
        }
    }
}

/* Main content */
#page-content-wrapper {
    padding-left: $sidebar-compactWidth;
}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: $sidebar-expandWIdth;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: $sidebar-expandWIdth;
}

.hide-span {
    span {
        display: none;
    }
}

#logoButtonBackground {
    @include accentHover;
    width: 100%;
    height: 100%
}

#logoButton {
    border: 0;
    /*background: url(logo_wide.png);*/
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
}

.logoButton-wide {
    background: url(logo_wide.png);
}

.logoButton-thin {
    background: url(logo_thin.png);
}

$upper-bar-height: 64px;

#upper-bar {
    width: 100%;
    background: red;
}

#sidebar-hamburger, #upper-bar {
    height: $upper-bar-height;
    background: $accent-color;
}

#hamburgerButton {
    @include uniform-size($upper-bar-height);
    @include accentHover;
    background: transparent;
    margin: 0;

    border: {
        style: solid;
        width: 0px 1px 0px 1px;
        color: $accent-color-lighter-1;
    }

    i {
        text-align: center;
        vertical-align: central;
        text-indent: 0px;
        font-size: 16px;
        color: white;
        opacity: 0.75;
    }
}

/*#hamburgerButton {
    border-radius: 50%;
    @include uniform-size(48px);
    background: transparent;
    border: 0;
    margin: 8px 16px 8px 16px;

    i {
        text-align: center;
        vertical-align:central;
        text-indent: 0px;
        font-size: 16px;
        color: white;
        opacity: 0.5;
    }

    &:hover {
        background: $sidebar-background-lighter-2;
    }
}*/

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    margin-top: 16px;
    list-style: none;

    li {
        text-indent: 16px;
        line-height: 48px;

        a {
            display: block;
            text-decoration: none;

            &:hover {
                background: $sidebar-background-lighter-1;
            }

            &:active {
                background: $sidebar-background-lighter-2;
            }

            i {
                width: 48px;
                text-align: center;
                text-indent: 0px;
                font-size: 16px;
                color: white;
                opacity: 0.25;
            }

            span {
                color: white;
                opacity: 0.5;
                text-indent: 0px;
                font-size: 13px;
                margin: 0;//16px - 4px; // NIE WIEM CZEMU ROBI TAM SIE WCZESNIEJ 20PX ZAMIAST 16PX
            }
        }
    }
}

.my-btn-round {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $accent-color;
    color: $accent-color;
    background: transparent;
    padding: 6px 16px;

    &:hover {
        background: $accent-color;
        color: $body-background;
    }
}

#nav-month {
}