@{
    ViewBag.Title = "Witaj w StackMoney !";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>StackMoney to intuicyjna aplikacja umożliwiająca zarządzanie Twoimi finansami. Interfejs został przygotowany tak, abyś szybko i bez kłopotu mógł poruszać się pomiędzy różnymi funkcjami. Łatwo dodasz nową operację, przejrzysz historię, dodasz nową kategorię czy przeanalizujesz statystyki.</p>

@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default btn-primary" })