@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "margin-left: auto"/* @class = "navbar-right"*/ })) {
        @Html.AntiForgeryToken()

        <a href="@Url.Action("Index", "Manage")" title="Manage" class="upper-bar-button animate-button">
            @User.Identity.GetUserName()
        </a><button href="javascript:document.getElementById('logoutForm').submit()" class="upper-bar-button animate-button">
            <i class="fa fa-power-off"></i>
        </button>

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@
    }
}